/* GLOBAL AND MOBILE STYLES FIRST */
body, html{
    height:100%;
    margin:0;
    font-size: 16px;
    font-family:"Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    padding:120px 0 0 ;
}

.banner{
    background-image:url('images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

#navigation li {
        list-style: none;
        display: block;
        float: left;
        margin: 1em;
}

#navigation li a {
        text-shadow: 0 2px 1px rgba(0,0,0,0.5);
        display: block;
        text-decoration: none;
        color: #f0f0f0;
        font-size: 1.6em;
        margin: 0 .5em;
}

#navigation li a:hover {
        margin-top: 2px;
}

#navigation_container {
   margin: 0 auto;
   width: 960px;
}

.rectangle {
   background: #666;
   height: 62px;
   position: relative;
   border-radius: 3px;
   z-index: 500; /* the stack order: foreground */
   margin: 3em 0;
}

.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    }

.pimg1{
    background-image:url('images/image1.jpg');
    min-height:100%;
}
    
.pimg2{
    background-image:url('images/image2.jpg');
    min-height:400px;
}
    
.pimg3{
    background-image:url('images/image3.jpg');
    min-height:100%;
}
    
    
.section{
    text-align: center;
    padding: 50px 80px;
}
    
.section-light{
    background-color:#f4f4f4;
    color: #666;
}
    
.section-dark{
    background-color:#282e34;
    color:#ddd;
}
    
.ptext {
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    color:#000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
    
.ptext .border{
    background-color: #111;
    color:#fff;
    padding: 20px;
}
    



/* FIRST BREAK POINT */
@media screen (max-width: 568px){
    .pimg1, .pimg2. pimg3{
        background-attachment: scroll;
    }
}


/* SECOND BREAK POINT */
/*
@media screen and (min-width: 568px){
    .pimg1, .pimg2, .pimg3{
        position: relative;
        opacity: 0.70;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

    }
}*/
