/* GLOBAL AND MOBILE STYLES FIRST */

body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;

}

/*go top*/

.go-top {
  right: 1em;
  bottom: 2em;
  color: #FAFAFA;
  text-decoration: none;
  background: #666;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  position: fixed;
  z-index: 1;

}

/* nav bar */

#google_translate_element {
  color: transparent;
  margin-top: 15px;
  margin-bottom: 0px;
}
#google_translate_element a {
  display: none;
}

nav {
  background: #666;
  display: none;
}

nav a {
  padding: 3px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

#menu {
  padding: 1em;
  background: #666;
  display: block;
  text-decoration: none;
  color: #fff;
}

.show-menu {
  display: block;
}

/*parallax background images */

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

}


.pimg1 {
  background-image: url('images/image1.jpg');
  min-height: 100%;
}

.pimg2 {
  background-image: url('images/image2.jpg');
  min-height: 400px;
}

.pimg3 {
  background-image: url('images/image3.jpg');
  min-height: 100%;
}

video {
  position: relative;
  width: 100%;
}

/* sections */

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 20px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

/* picture slideshow */

#slideshow {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border: 8px solid #282e34;
  margin-left: auto;
  margin-right: auto;
}

#slideshow img {
  position: absolute;
  width: 800px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -200px;
  opacity: 0;
  transition-duration: 3s, 10s;
}

#slideshow img {
  transform-origin: bottom left;
}

#slideshow :nth-child(2n + 1) {
  transform-origin: top right;
}

#slideshow :nth-child(3n + 1) {
  transform-origin: top left;
}

#slideshow :nth-child(4n + 1) {
  transform-origin: bottom right;
}

#slideshow .fx:first-child + img ~ img {
  z-index: -1;
}

#slideshow .fx {
  opacity: 1;
  transform: scale(1.1);
}

.pics {
  display: none;
}

/* maps */

#map {
  height: 400px;
  width: 100%;
}

/* wikipedia */

#demo {
  list-style-type: none;
  display: table;
  width: 90%;
  border-spacing: 0 10px;
}

li {
  display: table-row;
}

li strong,
li .txt,
li .langs {
  display: table-cell;
  vertical-align: middle;
}

img {
  display: table-cell;
  padding-right: 10px;
}

li .txt {
  width: 60%;
  padding-right: 10px;
}

li:nth-child(even) {
  background: #eee;
}

/*Contact Form*/

.form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
}

#form-div {
  left: 3%;
  margin-right: 3%;
  width: 88%;
  margin-left: 0;
  padding-left: 3%;
  padding-right: 3%;
}

.feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 1px 3px #888888;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

#name {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment {
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: white;
}

#button-blue {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #0493bd;
}

.submit:hover {
  color: #3498db;
}

.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  transition: .3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: white;
}

/* Footer */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}


/* Facebook */

.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */

.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */

.fa-instagram {
  background: #125688;
  color: white;
}

/* YouTube */

.fa-youtube {
  background: #bb0000;
  color: white;
}

footer {
  text-align: center;
  background-color: #f4f4f4;
}

ul {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: #666;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

/* BREAK POINT 568px */

@media screen and (min-width: 568px) {

  /* background images */
  .pimg1,
  .pimg2,
  .pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }

  /* pics */
  .pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pics a {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 4px);
    text-decoration: none;
    color: #f2f2f2;
  }

  .pics a {
    width: calc(25% - 6px);
  }

  .pics a:nth-of-type(2n) {
    margin-right: 8px;
  }

  .pics a:nth-of-type(4n) {
    margin-right: 0;
  }


  .pics a:hover img {
    transform: scale(1.15);
  }

  .pics figure {
    margin: 0;
    overflow: hidden;
  }

  .pics figcaption {
    margin-top: 15px;
  }

  img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out;
  }

  .p a {
    display: inline;
    font-size: 13px;
    margin: 0;
    text-decoration: underline;
    color: #666;
  }

  .p {
    text-align: center;
    font-size: 13px;
    padding-top: 100px;
  }

  /* contact form */
  .form-div {
    background-color: rgba(72, 72, 72, 0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 80px;
    margin-left: -260px;

  }

  nav {
    display: flex;
    justify-content: space-around;
  }
  nav a {
    line-height: 3em;
    width: inherit;
  }
  #menu {
    display: none;
  }

}

